$blue = #61bbef
$red = #ff5c5d
$green = #1fbba6
$yellow = #ff9503

.button
  color #666
  font-size 14px
  display inline-block
  margin-bottom 10px
  background #eee
  border none
  height 35px
  line-height 35px
  padding 0 10px
  text-align center
  outline none
  border-radius 3px
  min-width 130px
  cursor pointer
  transition .3s
  &:hover
    background-color darken(#eee, 10)
  &:active
    background-color darken(#eee, 30)
  &.primary
    color #fff
    background-color $blue
    &:hover
      background-color darken($blue, 10)
    &:active
      background-color darken($blue, 30)
  &.danger
    color #fff
    background-color $red
    &:hover
      background-color darken($red, 10)
    &:active
      background-color darken($red, 30)
  &.success
    color #fff
    background-color $green
    &:hover
      background-color darken($green, 10)
    &:active
      background-color darken($green, 30)
  &.warning
    color #fff
    background-color $yellow
    &:hover
      background-color darken($yellow, 10)
    &:active
      background-color darken($yellow, 30)
.icon
  display inline-block
  margin-right 10px
  animation roate 1s infinite linear

@keyframes roate
  0%
    transform roate(0)
  50%
    transform rotate(-180deg)
  100%
    transform rotate(-360deg)