@font-face
  font-family: 'iconfont'
  src: url('//at.alicdn.com/t/font_1470744538_5069184.eot')
  src: url('//at.alicdn.com/t/font_1470744538_5069184.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1470744538_5069184.woff') format('woff'),
  url('//at.alicdn.com/t/font_1470744538_5069184.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1470744538_5069184.svg#iconfont') format('svg')

:global
  .icon
    font-family "iconfont"
    font-size 16px
    font-style normal
  .caret
    display inline-block
    width 0
    height 0
    margin-left 4px
    vertical-align middle
    border-top 4px dashed
    border-top 4px solid\9
    border-right 4px solid transparent
    border-left 4px solid transparent

html
  background-color #f3f7fa
  height 100%
  font-family -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif
body
  height 100%
  margin 0
  padding 0
  position relative
*
  box-sizing border-box

hr
  margin 20px 0
  border none
  display block
  height 0
  border-bottom 1px solid #f2f2f2

p
  margin-top 0
a
  text-decoration none

h1
  margin-top 0
  font-size 32px
  margin-bottom 20px
h2
  margin-top 0
  font-size 28px
  margin-bottom 16px
h3
  margin-top 0
  font-size 24px
  margin-bottom 12px
h4
  margin-top 0
  font-size 20px
  margin-bottom 8px
h5
  margin-top 0
  font-size 16px
  margin-bottom 4px
h6
  margin-top 0
  font-size 12px
  margin-bottom 0